* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px;
}

.col{
    height: 840px;
    width: 350px;
    background-color: silver;
    font-size: 45px;
    display: inline-block;
    margin-left: 45px;
}
