* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 430px;
    height: 570px;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    box-shadow: 0 0 50px hsl(202, 93%, 46%);

}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 125px hsl(175, 93%, 46%);
}


.name {
    font-size: 37px;
    font-weight: bold;
}