* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* container */
.container {
    width: 1500px;
    height: 700px;
    background: black;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.689);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 50px;
    gap: 50px;
}
/* wrap-image */
.wrap-image {
    background: white;
    border-radius: 50px;
    width: 570px;
    transition: all .5s ease-in-out;

}
.wrap-image:hover {
    background: rgb(224, 156, 8);
    border-radius: 50px;
    width: 570px;

}

/* img */
img {
    width: 600px;
    /* rotate: 25deg; */
    transition: all 0.5s ease-in-out;
}

img:hover {
    width: 600px;
    rotate: 25deg;
}

.text-container {
    /* background-color: rgba(255, 255, 255, 0.131); */
    width: 800px;
    height: 600px;
}

/* text-title */
.text-title{
    font-size: 60px;
    font-weight: bold;
    color: white;
}