.bg-black {
    background-color: black;
}

.bg-yellow {
    background-color: yellow;
}

.name-bg-aqua {
    background-color: aqua;
    width: 210px;
    text-align: center;
    padding: 18px;

}
.call-pragraf{
    background-color: rgb(157, 157, 62);
    width: 700px;
    padding: 30px;
    color: white;
    border-radius: 50px;
}